[package]
name = "ip2country-service"
version = "0.1.0"
edition = "2018"
authors = ["Stephan Dilly <dilly.stephan@gmail.com>"]
description = "fast webserver providing ip lookup api"
homepage = "https://github.com/extrawurst/ip2country"
repository = "https://github.com/extrawurst/ip2country"
readme = "README.md"
license = "MIT"
categories = ["web-programming"]
keywords = [
    "web",
    "ip-lookup",
    "server",
]

[dependencies]
ip2country = { path = "../ip2country", version = "0.2.0" }
hyper = { version = "0.13", default-features = false, features = ["runtime"] }
tokio = { version = "0.2", default-features = false, features = ["macros"] }
pretty_env_logger = "0.4"
log = "0.4"